@import "colors";

.App {
  z-index: 0;
  position: relative;
  max-width: 900px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  background-color: $clr_white;
  border: 8px solid $clr_white;
}

.contentContainer {
  .eventContainer {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    top: 20%;
    right: 10%;
    padding: 1em;
  }

  .addressContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em 1em;
    color: $clr_white;
  }
}

.backgroundContainer {
  z-index: -1;
  display: flex;

  .houseImage {
    position: absolute;
    max-height: 100%;
    max-width: 50%;
    object-fit: scale-down;
    object-position: 0 0;
  }

  .addressImage {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    max-width: 70%;
    object-fit: scale-down;
    object-position: 100% 100%;
  }
}

.borderContainer {
  border: dotted 3px $clr_primary;
  background-color: $clr_white;
}

@media screen and (max-width: 900px) {
  .App {
    border: 0 !important;
    align-self: flex-start;
    height: 80% !important;
    border-bottom: 5px solid $clr_white !important;
  }

  .backgroundContainer {
    .houseImage {
      padding: 0.5em;
      height: 95%;
      max-width: 76% !important;
    }

    .addressImage {
      display: none;
    }
  }

  .eventContainer {
    top: 25% !important;
    right: 3% !important;

  }

  .addressContainer {
    width: 100%;
    position: fixed !important;
    left: 0;
    bottom: 5vh !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .eventContainer {
    width: 70%;
  }
}