@import "styles/colors";

@font-face {
  font-family: 'Raleway.Regular';
  src: url('res/font/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway.Bold';
  src: url('res/font/Raleway-SemiBold.ttf') format('truetype');
}

html {
  color: $clr_black;
  font-family: 'Raleway.Regular', sans-serif;
  background: url("res/imgs/circle.svg") repeat;
  background-size: 7px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Raleway.Bold', sans-serif;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

a {
  color: $clr_black;
  text-decoration: none;
  border-bottom: 1.5px solid $clr_black;
  padding-bottom: 1.5px
}

